body {
    margin: 35px auto;
    width: 640px;
    background: #FAFAD2
}

header {
    text-align: center;
    margin: 0 0 20px;
}

header h1 {
    display: inline;
    font-size: 32px;
}

#main {
    margin: 0 0 20px;
}

tr {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
}

td.name {
    text-transform: uppercase;
    color: #6D929B;
}

td.code {
    color: #686868;
}
